:root{
    --clr-pri:#fcdb00;
    --clr-sec:#010101;
    --clr-ter:#313841;
    --clr-text:#555555;
    --clr-text2:#898989;
}

.heroImg{
    background-color: var(--clr-pri);
    padding: 60px 0 110px;
}

.mainNavbar.navbar-default{
    background-color: transparent;
    border: transparent;
    margin-bottom: 60px;
}

.mainNavbar .navbar-brand{
    padding: 0 15px;
}

ol,ul{
    list-style: none;
}

.navbar-list.navbar-nav{
    color: var(--clr-sec);
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    
}

.mainNavbar .navbar-nav li a{
    padding: 0  20px;
    margin: 0 20px;
    color: #000;
    height: 50px;
    line-height: 50px;
}

.mainNavbar .navbar-nav>li>a::after{
    content: "";
    width: 0%;
    height: 4%;
    background-color: hotpink;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: all .4s linear;
}

.mainNavbar .navbar-nav>li a.active::after,
.mainNavbar .navbar-nav>li>a:focus::after, 
.mainNavbar .navbar-nav>li>a:hover::after{
    width: 100%;
    left: 0;
    color: var(--clr-sec);
    
}

.logo{
    display: inline-block;
}

a:link,a:focus{
    text-decoration: none;
    display: inline-block;
}

.inspiration{
    padding-top: 70px;
}

.pri-heading{
    color: var(--clr-sec);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

.sec-heading{
    color:var(--clr-ter);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.para{
    color: var(--clr-text);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.icon-list {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.icon-list li{
    display: inline-block;
    margin-right: 40px;
}

.icon-list li a i{
    color: var(--clr-sec);
    transition: all .4s linear;
    transform: scale(1);
}

.icon-list li a i:hover{
    transform: scale(1.5) rotate(360deg);
}

/* ##################################  features section ######################### */

.features{
    padding: 110px 0 75px;

}

.px-4{
    padding: 0 40px;
}

.ourthumbnail{
    margin-bottom: 90px;
}

.animation{
    transition: all .4s linear;
}

#one:hover{
    transform: perspective(100px) rotate(360deg) scale(1.5);
}

#two:hover{
    transform: perspective(100px) rotate(-360deg) scale(1.5) translate3d(50px,0,0);
}

#three:hover{
    transform: perspective(100px) rotate(270deg) scale(1.5) translate(-50px,-50px);
}

#four:hover{
    transform: perspective(100px) rotate(270deg) scale(1.5) translate(50px,50px);
}

#five:hover{
    transform: perspective(100px) rotate(180deg) scale(1.5) translate3d(50px,-50px,0);
}

#six:hover{
    transform: perspective(100px) rotate(180deg) scale(1.5) translate3d(-50px,50px,0);
}
.featureheading .sec-heading{
    margin-bottom: 85px;
}

.thumbnailInfo .sec-heading{
    margin-top: 0;
    font-size: 22px;
    text-transform: capitalize;
}


/*****************************************************footer*******************************************************/


.footer{
    padding: 95px 0 135px;
    background-color: var(--clr-sec);
}

.footerheading .pri-heading{
    color: var(--clr-pri);
    font-weight: 400;
    margin-bottom: 15px;
}

.footerheading .sec-heading{
    color: var(--clr-text2);
    margin-bottom: 40px;
}

#intouchForm{
    margin-bottom: 75px;
}

#intouchForm .btn-submit{
    height: 50px;
    display: block;
    width: 100%;
    padding: 6px 0;
    outline:none;
    border: 0;
    text-transform: uppercase;
    background-color: var(--clr-pri);
    font-size: 16px;
    color: var(--clr-sec);
}

#intouchForm .btn-submit:hover{
    background-color: var(--clr-sec);
    color: var(--clr-pri);
    box-shadow: 1px 3px 8px white;
    outline: none;
}


#email{
    height: 50px;
    width: 100%;
    padding-right: 0;
}

#email::placeholder{
    color: var(--clr-text2);
    font-size: 16px;
    font-weight: 400;
}

.footers.icon-list i{
    color: var(--clr-pri);
}

.footers.icon-list{
    margin-bottom: 130px;
}

.footer .icon-list li {
    margin-right: 40px;
}

.footerlinks, .footerlinks a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


.navbar-default.mainNavbar .navbar-toggle:focus, .navbar-default.mainNavbar .navbar-toggle{
    background-color: var(--clr-sec);
}

.navbar-default.mainNavbar .navbar-toggle{
    border-color: var(--clr-sec);
}

.navbar-default.mainNavbar .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default.mainNavbar .navbar-collapse, .navbar-default.mainNavbar .navbar-form{
    border-color: var(--clr-sec);
} 

@media all and (max-width:900px){
    .mainNavbar.navbar-default{
        margin-bottom: 20px;
    }
    .inspiration{
        padding-top: 0;
        margin-bottom: 30px;
    }
    .heroImg{
        padding: 60px 0;
    }
    .features{
        padding: 60px 0 30px;
    }
    .pri-heading{
        margin: 0 ;
    }
    .featureheading .sec-heading {
        margin-bottom: 50px;
    }
    .ourthumbnail{
        margin-bottom: 30px;
    }
    .sec-heading, .row{
        margin-bottom: 20px;
    }

    .features .para{
        margin-bottom: 0px;
    }

    .footer{
        padding: 60px 0;
    }

    .footerheading .sec-heading{
        margin-bottom: 30px;
        margin-top: 0;
    }

    .form-group ,#intouchForm , .footers.icon-list{
        margin-bottom: 30px;
    }
    .mb-xs-30{
        margin-bottom: 30px;
    }
}

@media all and (max-width:850px){
    #three:hover{
        transform: perspective(100px) rotate(360deg) scale(1.5);
    }

    #five:hover{
        transform: perspective(100px) rotate(360deg) scale(1.5);
    }

}

@media all and (max-width:768px){
    #one:hover{
        transform: perspective(100px) rotate(360deg) scale(1.5);
    }

    #two:hover{
        transform: perspective(100px) rotate(360deg) scale(1.5);
    }
    
    #four:hover{
        transform: perspective(100px) rotate(360deg) scale(1.5);
    }

    #six:hover{
        transform: perspective(100px) rotate(360deg) scale(1.5);
    }
}


@media all and (max-width:600px){
    .ipad{
        width: 80%;
        margin: 0 auto;
        display: inline-block;
    }
}

@media all and (max-width:450px){
    .footer .icon-list li{
        margin-right: 10px;
    }

    .form-group ,#intouchForm , .footers.icon-list{
        margin-bottom: 15px;
    }

}